*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    text-align: center;
    height: 100%;
    
    display: grid;
    margin: 50px 50px;
    grid-template-columns:70px 1fr 1fr 1fr  ;
    grid-template-rows: 50px 300px 50px;

}
.one{background-color: brown;
 grid-column: 1/-1;                            }
.two{background-color: blue;}
.three{background-color: aqua;grid-column: 2/-1;}
/* .four{background-color: bisque;} */
.five{background-color: pink;
    grid-column: 1/-1;

}
#a{background-color: beige;}
#b{background-color: peru}
#c{background-color: purple;}
.three {
    display: grid;
    grid-template-columns: 1fr 1fr;
}